<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySoccerWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/standingTable.css" rel="stylesheet" />
</head>
<body >
    <div class="row" style="margin-right:0;">
        <div class="col-3">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white  h-100 position-fixed" style="width: 20%; background-color: #2f263e;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <h4 class="fs-4" style="margin-bottom:50px;">My Soccer World</h4>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active" aria-current="page">
                            Home
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Shedulles" asp-action="Index" asp-route-id="@Model.Tournament.Id" class="nav-link text-white">
                            Shedulles
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            Goal Scorers
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Tournaments" asp-action="Matches" asp-route-id="@Model.Tournament.Id" class="nav-link text-white">
                            Matches
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Leagues" class="modal-btn nav-link text-white position-fixed" style="bottom:50px;">
                            SETTINGS
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="container">
                <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                        <li class="nav-item"><a asp-action="Index" asp-controller="Tournaments" class="nav-link">Tournaments</a></li>
                        <li class="nav-item"><a asp-action="Index" asp-controller="Clubs" class="nav-link">Clubs</a></li>
                        <li class="nav-item"><a asp-action="Index" asp-controller="Players" class="nav-link">Players</a></li>
                        <li class="nav-item"><a asp-action="Index" asp-controller="Ratings" class="nav-link">Ratings</a></li>
                    </ul>
                </header>
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>