@model IEnumerable<Match>
<div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "1/64 finals"))
        {
            <div class="round">
                1/64   FINAL
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "1/64 finals"))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "1/32 finals"))
        {
            <div class="round">
                1/32   FINAL
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "1/32 finals"))
        {

            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "1/16 finals"))
        {
            <div class="round">
                1/16   FINAL
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "1/16 finals"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("MatchGreen", m)
                </div>
            }
        }
    </div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "1/8 finals"))
        {
            <div class="round">
                1/8   FINAL
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "1/8 finals"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "1/4 finals"))
        {
            <div class="round">
                1/4   FINAL
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "1/4 finals"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "1/2 finals"))
        {
            <div class="round">
                1/2   FINAL
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "1/2 finals"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "Bronze-Match"))
        {
            <div class="round">
                BRONZE-MATCH
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "Bronze-Match"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
    <div class="roundrow">
        @if (Model.Any(m => m.Round == "Final"))
        {
            <div class="round">
                FINAL
            </div>
        }
        @foreach (var m in Model.Where(m => m.Round == "Final"))
        {
            if (m != null)
            {
                <div>
                    @await Html.PartialAsync("Match", m)
                </div>
            }
        }
    </div>
</div>
