@model IEnumerable<Tournament>
<div class="container">
    <div class="row">
        @foreach (var t in Model)
        {
            <div class="col-4">
                @t.Name @t.Season.Data
            </div>
            <a class="btn btn-success col-2" asp-action="CalculateRating" asp-route-id="@t.Id">
                CALCULATE
            </a>
            <div class="col-4">
                @if (t.Ratings.Count() > 0)
                {
                    @t.Ratings.Count();
                }
            </div>
        }
    </div>
</div>