body {
    background: url("../images/intro.svg");
    font-size: 15px;
    background-color: indigo;
    background-attachment: fixed;
    background-size:100% 100%;
}
.table{
    border:solid;
}
.table td {
    vertical-align: unset;    
    text-align:center;
    border-top: solid 1px darkcyan;
    padding: 0.35rem;
}
.table thead {
    background-color: blue;
    border: solid;
    border-color:black;
    color: aliceblue;
}
.table tbody {
    background-color: azure;
}
#club {
    font-size: 18px;
    border-left: solid 1px;
    border-right: solid 1px;
    font-variant-caps: small-caps;
}
#club img{
    width:36px;
    height:38px;
    margin-right:10px;
}
#points {
    background-color: brown;
    border-left: solid 1px;
    font-size: 16px;
    color: aliceblue;
}

#matchplayoff .matchrow {
    background: midnightblue;
    margin: 0;
}
#matchplayoff .clubname {
    background-color: lightgrey;
    padding: 5px;
    text-align: center;
}
#matchplayoff .clubname img {
    width:30px;
    height:33px;
}
#matchplayoff .score {
    color: white;
    padding: 0;
    align-self: center;
    text-decoration: none;
    text-align: center;
}
#matchplayoff .pen1 {
    float:left;
}
#matchplayoff .pen1 {
    float: right;
}
#matchplayoff .goals {
    color: white;
    border-left: solid blue;
    padding: 5px;
}
#matchplayoff .goalsname {
    font-size: 9px;
}
.round {
    background-color: darkcyan;
    text-align: center;
    font-size: 24px;
    color: white;
    padding:10px;
    border-bottom:solid black;
}
.roundrow {
    border: solid black;
    border-bottom: none;
}
#goalscorers {
    border: solid;
    border-color: coral;
    margin-top: 25px;
    padding: 0;
}
#goalscorers .title {
    font-size: x-large;
    background-color: navy;
    color: darkorange;
    font-family: cursive;
    justify-content: center;
    border-bottom: solid;
    display: flex;
}
#goalscorers .player{
    background-color:lightblue;
    font-size:14px;
    margin-left:0;
}
#goalscorers .team{
    font-size:13px;
    background-color: aliceblue;
}
#goalscorers .count{
    background-color:brown;
    color:ivory;
}