@model Tournament
<div>
    <h3> Shedulle for 1/32 finals </h3>
    <form asp-action="ShedulleKnockOut32" asp-controller="Shedulles" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        @for (int i = 0; i < 32; i++)
        {
            <div class="form-group">
                <select name="clubs[]" asp-items="@ViewBag.Teams">
                </select>
            </div>
        }
        <input type="number" name="data" />
        <input type="submit" name="Create" />
    </form>
</div>
<div>
    <h3> Shedulle for 1/16 finals </h3>
    <form asp-action="ShedulleKnockOut16" asp-controller="Shedulles" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        @for (int i = 0; i < 32; i++)
        {
            <div class="form-group">
                <select name="clubs[]" asp-items="@ViewBag.Teams">
                </select>
            </div>
        }
        <input type="number" name="data" />
        <input type="submit" name="Create" />
    </form>
</div>
<div>
    @await Html.PartialAsync("_ShedulleKnockOut")
</div>